:root {
    --content-height: 87svh;
}

body {
    font-family: Candara;
    margin: 0px;
    display: flex;
    font-size: 10pt;
    line-height: normal;
    box-sizing: unset;
    background-color: var(--bg-color);
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-container,
.footer-container {
    color: white;
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    padding: 0px 10px;
    justify-content: flex-end;
}

.hint {
    text-align: center;
    font-size: large;
}

.footer-container {
    height: 5svh;
    font-size: small;
    align-items: baseline;
    color: black;
}

.header-container img {
    display: block;
}

.profile-pic {
    padding: 1px;
    border: 2px solid;
    border-color: var(--secondary-color);
    margin-right: 5px;
    border-radius: 50px;
}

.footer-items {
    text-align: center;
}

.footer-items a {
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

.footer-items a:hover {
    text-decoration: underline;
}

.side-bar {
    background-color: var(--secondary-color);
    border-left: 3px solid var(--rare-color);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0px 10px black;
    box-sizing: border-box;
}

.side-bar a.logout-btn {
    margin-bottom: 10px
}

.side-bar i {
    margin-right: 6px;
    color: white;
}

.side-bar a {
    padding: 15px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.side-bar a:hover,
.menu-selected{
    background-color: var(--rare-color);
    text-shadow: 1px 2px black;
    padding-left: 10px;
    padding-right: 20px;
}

.home-btn {
    margin-top: 10px;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu-item {
    padding: 15px
}

.items {
    display: inherit;
    align-items: center;
    height: 8vh;
}

.search-form {
    margin: 5px;
    display: flex;
    border: 4px solid var(--rare-color);
    box-shadow: 0px 1px 0px black;
    border-radius: 50px;
}

.search-field {
    border-radius: 50px 0px 0px 50px;
    border: 0px;
    height: fit-content;
    padding: 6px 12px;
    text-decoration: none;
    color: black;
}

.search-field:hover, 
.search-field:focus,
.message-box:focus {
    outline: none;
}

#submit {
    border: none;
    padding: 6px;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--rare-color);
    color: white
}

input {
    font-family: inherit;
    font-size: inherit;
}

input[type=text],
input[type=password],
textarea {
    caret-color: var(--rare-color);
}

input[type=text]:hover,
input[type=password]:hover,
input[type=text]:focus,
input[type=password]:focus,
textarea:hover,
textarea:focus {
    outline-color: /*#FFAFCC*/ var(--secondary-color);
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .8rem;
}

.row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.row-btn {
    justify-content: center;
    padding: 10px 0px;
}

.error {
    color: #A4161A;
}

.success {
    color: #476b28;
}

.notification {
        text-decoration: none;
        padding: 0px 3px;
        margin-left: 0.3rem;
        font-family: system-ui;
        font-size: xx-small;
        position: absolute;
        margin-bottom: 5px;
        margin-left: 2px;
}

.rating-section {
    color: var(--secondary-color);
    margin-left: auto;
    padding: 0.7rem;
    display: flex;
    align-items: center;
}

.btn-default {
    padding: 10px;
    border-radius: 50px;
    margin-left: 10px;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
}

.btn-default:hover {
    background-color: var(--main-color);
    padding: 10px 13px;
}

.rating-btn {
    cursor: pointer;
}

.fa-arrow-up,
.fa-arrow-down {
    padding-right: 5px;
}

.fa-xl {
    color: var(--main-color);
}

@media (max-height: 700px) {
    body {
        font-size: 0.8rem;
    }
}

@media (min-width: 0px) {
    .d-md-block {
        display: block !important;
    }
}

@media (max-width: 992px) {
    .hint {
        width: fit-content;
    }
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }

    .main-content {
        height: 90svh;
        overflow: hidden;
    }
    
    .menu {
        margin-left: 10px;
    }

    .side-bar {
        height: 10svh;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0px;
        border-left: 0px;
        border-top: 3px solid var(--rare-color);
        overflow: hidden;
    }

    .header-container img {
        margin-right: 5px;
    }

    .side-bar a.logout-btn {
        margin: 0px;
    }

    .side-bar a {
        margin: 0px;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;
    }

    .side-bar a:hover {
        padding-top: 10px;
        padding-left: 15px;
    }

    .menu-selected {
        padding-top: 0px;
    }

    .side-bar i {
        margin-bottom: 1rem;
        font-size: x-large;
    }

    .footer-container {
        position: absolute;
        top: 100svh;
        width: 100%;
    }

    .ratings-wrapper {
        font-size: large;
    }
}

@media (min-height: 450px) {
    .side-bar a {
        padding-bottom: 10px;
    }
}