* {
    font-family: Candara;
    font-size: 12pt;
    line-height: normal;
}

.headerCust,
.footerCust {
    display: flex;
    align-items: center;
    background-color: #2A9D8F;
    position: absolute;
    top: 0vh;
    left: 0vh;
    width: 100vw;
    height: 10vh;
}

.footerCust {
    top: 90vh;
    justify-content: center;
}

.footer-items {
    text-align: center;
    padding-top: 5px
}

.footer-items a {
    color: black;
    text-decoration: underline;
}

.menu {
    display: flex;
    justify-content: right;
    align-items: center;
    width: inherit;
    height: inherit;
}

.items {
    display: inherit;
    align-items: center;
    height: 8vh;
}

.menu-item,
.search-field {
    background-color: white;
    border-radius: 10px;
    border-width: 0px;
    padding: 6px 12px;
    text-decoration: none;
    color: black;
}

input[type=text],
input[type=password],
textarea {
    caret-color: #2A9D8F;
}

input[type=submit]:hover,
.menu-item:hover {
    background-color: #ADE8F4;
    text-decoration: none;
    color: black;
    cursor: default;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=text]:focus,
input[type=password]:focus,
textarea:hover,
textarea:focus {
    outline-color: /*#FFAFCC*/ #2A9D8F;
}

.table {
    display: table;
    width: wrap-content;
    margin: 0px;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding-right: 10px;
}

.error {
    color: #A4161A;
}

.success {
    color: #4F772D;
}