.header-container {
    display: none;
}

.index-content {
    height: 95svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.letter {
    border: 10px solid var(--main-color);
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 0px 4px;
}

.letter-header {
    background-color: var(--main-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 7px;
}

.pages {
    box-shadow: inset 0px 1px 7px var(--rare-color);
    display: flex;
    justify-content: center;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 1rem;
}

.page:nth-child(1) {
    margin-right: 0;
    padding-right: 1rem;
    border-right: 2px dashed var(--main-color)
}

input[type=text],
input[type=password] {
    border-radius: 7px;
    border-color: var(--secondary-color);
    padding: 6px 10px;
    margin: 5px;
    width: 200px;
    border-style: double;
}

input[type=submit] {
    cursor: pointer;
    font-style: italic;
    padding: 10px 30px;
    border-radius: 10px;
    border-width: 0px;
    background-color: var(--secondary-color);
    color: white
}

input[type=submit]:hover {
    background-color: var(--main-color);
    padding: 10px 35px;
}

.error-section {
    background-color: #EDF2F4;
    padding: 5px 30px;
    margin-top: 10px;
    text-align: center;
    border-radius: 15px;
    font-style: italic;
}

legend {
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: .3rem;
    text-align: end;
}

.error-section {
    padding: 0px;
    margin: auto;
}

.row-errors {
    background-color: #EDF2F4;
    border-top: 2px solid;
}

.email-btn {
    border: 0px;
    font-size: 9pt;
    border-radius: 10px;
}

@media (max-width: 992px) {
    .pages {
        flex-direction: column;
    }

    .page {
        padding: .8rem .5rem;
    }

    .page:nth-child(1) {
        border-bottom: 2px dashed var(--main-color);
        border-right: 0;
        margin: 0 1rem;
    }

    .row {
        margin: 0px;
    }
}

@media (max-width: 600px) {
    .footer-container {
        top: 90svh;
    }

    .page:nth-child(1) {
        margin: 0;
        padding: 1rem 0;
    }

    input[type=text],
    input[type=password] {
        width: 150px;
    }

    body {
        font-size: .85rem;
    }
}