.hint {
    position: absolute;
    left: 0vw;
    top: 11vh;
    width: 100vw;
    text-align: center;
}

.reg-form {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0vh;
    top: 15vh;
    width: 50vw;
    height: 70vh;
    background-color: transparent;
    border-width: 0px 3px 0px 0px;
    border-style: solid;
    border-color: black;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10vh;
    left: 50vw;
    width: 50vw;
    height: 80vh;
    background-color: transparent;
}

input[type=text],
input[type=password] {
    border-radius: 7px;
    border-color: #2A9D8F;
    padding: 6px 10px;
    margin: 5px;
    width: 200px;
    border-style: double;
}

input[type=submit] {
    font-size: 12pt;
    font-family: Candara;
    font-style: italic;
    padding: 10px 30px;
    border-radius: 10px;
    border-width: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2A9D8F;
}

.error-section {
    background-color: #EDF2F4;
    padding: 5px 30px;
    margin-top: 10px;
    text-align: center;
    border-radius: 15px;
    font-style: italic;
}

.row-custom {
    display: flex;
    width: inherit;
    align-items: center;
    justify-content: center;
}