.header-container {
    justify-content: center;
}

.info-grid {
    display: grid;
    min-height: var(--content-height);
}

.info-area {
    display: grid;
    margin: auto;;
    padding: 1rem;
    background-color: white;
    box-shadow: 0px 0px 3px;
    justify-content: space-between;
}

.info-title {
    font-size: 16pt;
    margin: .5rem auto;
    font-style: italic;
    display: flex;
    align-items: center;
    margin-right: 3rem;
    margin-left: 0;
}

.info-text {
    margin: .5rem 0px;
    white-space: pre-line;
    overflow-y: auto;
}

.info-area a {
    text-decoration: none;
    color: black;
}

textarea {
    font-family: inherit;
    resize: none;
    width: 40vw;
    height: 40vh;
    margin-bottom: 10px;
}

textarea, 
input[type=text] {
    border: 2px solid var(--main-color);
    padding: 3px 6px;
}

.infos-menu {
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

.bottom {
    margin-top: .5rem;
}

.bottom, 
.top {
    background-color: var(--main-color);
    border-bottom: 2px solid;
    border-top: 2px solid;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.top a,
.bottom a {
    padding: 10px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.yes-no {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
}

input[type=submit] {
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border: 0;
}

@media (max-width: 600px) {
    .footer-container {
        top: 90svh;
    }
}