.chat-window {
    height: var(--content-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(90deg, var(--main-color) -15%, transparent 12%);
}

.messenger-content {
    display: flex;
}

.input:hover {
    cursor: auto;
}

.input:focus,
.input:hover {
    outline: none;
}

.message-box {
    display: flex;
    border-radius: 50px;
    margin: 10px;
    padding: 6px 12px;
    background: white;
    font-size: medium;
}

.message-field {
    background-color: transparent;
    border: 0;
    width: 100%;
}

.message-field:focus {
    outline: none;
}

.message-send-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-weight: bold;
}

.chat-header {
    display: flex;
    margin: 10px;
    padding: 5px 10px 5px 5px;
    background: white;
    border-radius: 50px;
    align-items: center;
    font-style: italic;
    font-size: 11pt;
}

.messenger-profile-btn {
    text-decoration: none;
    color: black;
    margin-left: auto;
    font-style: initial;
}

.messages {
    height: 100%;
    margin: 10px;
    overflow-y: auto;
    padding-right: 6px;
}

.messages>li {
    padding: 0.5rem 1rem;
}

.chat-item {
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 2px var(--rare-color);
    padding: 10px 25px 10px 10px;
    margin: 10px 0px;
    margin-bottom: 5px;
    width: fit-content;
}

.status {
    position: absolute;
    bottom: 8vh;
    right: 1vh;
    background-color: white;
    color: #2A9D8F
}

.author {
    font-weight: bold;
    font-style: italic;
    border-bottom: 1px solid;
}

.message {
    overflow-wrap: anywhere;
    width: inherit
}

.user-chats {
    height: var(--content-height);
    display: flex;
    flex-direction: column;
    width: 15%;
}

.user-chats::-webkit-scrollbar {
    display: none;
}

.chat-button {
    border-right: 1px solid var(--main-color);
    padding-left: .5rem;
    height: inherit;
    width: inherit;
    display: flex;
    position: relative;
    align-items: center;
}

.user-chats a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.selected {
    background-image: linear-gradient(270deg, transparent -80%, var(--main-color));
    color: white;
    border-color: var(--main-color);
    border-width: 1px 0px 1px 1px;
    border-style: solid;
}

.chat-button-text {
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
}

.online {
    font-size: smaller;
    color: white;
}

.offline {
    font-size: smaller;
    color: white;
}

.prompt {
    margin: auto;
    text-align: center;
    font-size: large;
    font-style: italic;
}

@media (max-width: 600px) {
    .messenger-content {
        flex-direction: column;
        height: 82svh;
    }

    .messages {
        height: 100%;
        margin: 10px 10px 0px 10px;
    }

    .profile-pic {
        margin: 0;
    }

    .user-chats {
        flex-direction: row;
        width: 100%;
        height: 15%;
        overflow: scroll;
    }

    .chat-button {
        align-items: center;
        justify-content: center;
        background-image: none;
        padding: 0px 8px;
        flex-direction: column;
        border-right: 0;
    }

    .selected {
        border: 0;
        background-color: var(--main-color);
    }

    .chat-window {
        background-image: none;
        border-left: 0;
    }
}