.empty-message {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.chat-window {
    height: var(--content-height);
    margin: auto;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.messenger-content {
    display: flex;
}

.input:hover {
    cursor: auto;
}

.input:focus,
.input:hover {
    outline: none;
}

.message-box {
    display: flex;
    border-radius: 50px;
    margin: 10px 20px;
    padding: 6px 8px;
    background: white;
    font-size: medium;
}

.message-field {
    background-color: transparent;
    border: 0;
    width: 100%;
    font-size: smaller;
}

.message-field:focus {
    outline: none;
}

.message-send-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: var(--main-color);
}

.chat-header {
    display: flex;
    margin: 10px;
    padding: 5px 10px 5px 5px;
    background: white;
    border-radius: 50px;
    align-items: center;
    font-style: italic;
    font-size: 11pt;
}

.messenger-profile-btn {
    text-decoration: none;
    color: black;
    margin-left: auto;
    font-style: initial;
}

.messages {
    height: 100%;
    margin: 0.5rem 1rem;
    overflow-y: auto;
    padding-right: 6px;
}

.messages>li {
    padding: 0.5rem 1rem;
}

.chat-item {
    max-width: 50%;
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 2px var(--rare-color);
    padding: 10px 20px 10px 10px;
    margin: 10px 0px;
    margin-bottom: 5px;
    width: fit-content;
}

.timestamp {
    border-top: 1px solid;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    font-family: system-ui;
    font-size: x-small;
    font-style: italic;
}

.message-timestamp {
    padding-left: 10px;
    font-weight: lighter;
    font-family: system-ui;
    font-size: smaller;
}

.status {
    position: absolute;
    bottom: 8vh;
    right: 1vh;
    background-color: white;
    color: #2A9D8F
}

.user-status {
    font-size: 9pt;
}

.author {
    font-weight: bold;
    font-style: italic;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
}

.message {
    overflow-wrap: anywhere;
    width: inherit
}

.user-chats {
    height: var(--content-height);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 220px;
    background-color: white;
    border-right: 1px solid var(--main-color);
}

.user-chats::-webkit-scrollbar {
    display: none;
}

.chat-button {
    padding: .5rem;
    height: inherit;
    width: inherit;
    display: flex;
    position: relative;
    align-items: center;
}

.user-chats a {
    width: 100%;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.chat-header .profile-pic {
    border-color: var(--main-color);
}

.selected {
    background-image: linear-gradient(to left, var(--main-color) -15%, transparent 20%);
}

.selected .profile-pic {
    border-color: var(--main-color);
}

.chat-button-text {
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
}

.messages-notify {
    color: var(--main-color);
    font-size: smaller;
}

.chat-notify {
    width: 100%;
    text-align: center;
    color: green;
}

.online {
    font-size: smaller;
    color: white;
}

.offline {
    font-size: smaller;
    color: white;
}

.prompt {
    margin: auto;
    text-align: center;
    font-size: large;
    font-style: italic;
}

.loading-icon {
    margin: auto;
    width: fit-content;
    margin-top: .5rem;
}

@media (max-width: 1050px) {
    .chat-window {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .empty-message {
        margin-bottom: 2rem;
    }

    .messenger-content {
        flex-direction: column;
        background-image: none;
    }

    .messages {
        height: 100%;
        margin: 10px 10px 0px 10px;
    }

    .profile-pic {
        margin: 0;
    }

    .user-chats {
        flex-direction: row;
        width: 100%;
        height: auto;
        overflow: scroll;
    }

    .user-chats a {
        height: fit-content;
    }

    .chat-button {
        align-items: center;
        justify-content: center;
        background-image: none;
        padding: 0px 8px;
        flex-direction: column;
        border-right: 0;
    }

    .selected {
        border: 0;
        background-color: var(--main-color);
    }

    .chat-window {
        height: 73svh;
        background-image: var(--bg-color);
        border-left: 0;
    }
}