.chat-window {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #2A9D8F;
}

.messenger-content {
    display: flex;
}

.input:hover {
    cursor: auto;
}

.input:focus,
.input:hover {
    outline: none;
}

.message-box {
    border: 2px solid #2A9D8F9F;
    border-radius: 50px;
    margin: 10px;
    padding: 6px 12px;
}

.chat-header {
    display: flex;
    margin: 10px;
    padding: 10px 15px;
    background: #2A9D8F40;
    border-radius: 50px;
    align-items: center;
    font-size: 1.2rem;
    font-style: italic;
}

.messages {
    height: 60vh;
    margin: 10px;
    overflow-y: auto;
    border-radius: 20px;
    padding-right: 6px;
}

.messages>li {
    padding: 0.5rem 1rem;
}

.chat-item {
    display: flex;
    background: white;
    border-radius: 10px;
    padding: 10px 25px 10px 10px;
    margin: 10px 0px;
    margin-bottom: 5px;
    width: fit-content;
}

.status {
    position: absolute;
    bottom: 8vh;
    right: 1vh;
    background-color: white;
    color: #2A9D8F
}

.author {
    font-weight: bold;
    font-style: italic
}

.message {
    overflow-wrap: anywhere;
    width: inherit
}

.user-chats {
    height: 82vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.user-chats::-webkit-scrollbar {
    display: none;
}

.chat-button {
    padding: 8px 10px;;
    display: flex;
    position: relative;
    padding-right: 10vw;
    align-items: center;
}

.user-chats a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.user-chats a .chat-button img {
    margin-right: 10px
}

.selected {
    background-color: #2A9D8F40;
}

.chat-button-text {
    display: flex;
    flex-direction: column;
}

.online {
    font-size: smaller;
    color: #2A9D8F;
}

.offline {
    font-size: smaller;
    color: #ADB5BD;
}

.prompt {
    margin: auto;
    text-align: center;
    font-size: large;
    font-style: italic;
}