.carousel-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
}

.carousel-inner {
    background-color: var(--main-color) /*#C5C3C6*/;
}

.profile-content {
    display: flex;
    align-items: center;
}

.carousel-content {
    display: flex;
    justify-content: center;
    height: 70vh;
}

.profile-data {
    min-width: 20svw;
    height: var(--content-height);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-data 
input[type=submit] {
    border-radius: 10px 0px 0px 10px;
    padding: 6px 12px;
}

.cancel-btn {
    margin: 5px 5px 5px 0px;
    border-radius: 0px 10px 10px 0px;
    border-left: 3px solid var(--bg-color);
    height: fit-content;
    padding: 6px 12px;
    text-decoration: none;
}

.profile-view-btn {
    background-color: var(--secondary-color);
    color: white;
    opacity: 90%;
}

.profile-view-btn:hover {
    opacity: 100%;
    color: white;
}

.profile-data 
input[type=text],
.profile-data 
textarea {
    border: 2px var(--rare-color) solid;
    border-radius: 5px;
    resize: none;
}

.profile-data 
input[type=submit]:hover {
    background-color: var(--secondary-color);
    color: white;
}

.header-wrapper {
    display:flex;
}

.header {
    display: flex;
    align-items: center;
}

.header a {
    margin: 10px 5px;
    border-left: 2px solid var(--rare-color);
    padding: 20px 20px 20px 6px;
    text-decoration: none;
    color: black;
}

.header a:hover {
    color: white;
    background-color: var(--rare-color);
    border-radius: 0px 10px 10px 0px;
}

.follows h1 {
    font-family: 'Font Awesome 6 Free';
    margin-left: 5px;
    margin-top: 1rem;
}

.follows {
    margin-left: 1rem;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-wrap: anywhere;
    margin-right: 10px;
}

.header span{
    display: block;
    font-size: 15pt;
}

.body {
    background-color: var(--rare-color);
    color: white;
    display: flex;
    width: inherit;
    margin-top: 10px;
}

.description-section {
    width: inherit;
    display: flex;
    padding: 15px 10px;
}

.description {
    padding: 5px 10px;
    width: inherit;
    max-height: 30vh;
    overflow-y: auto;
    overflow-wrap: anywhere; 
    white-space: pre-line;
}

.footer {
    display: flex;
    align-items: baseline;
    justify-content: right;
}

textarea {
    width: 100%;
    height: 30vh;
}

input[type=file] {
    padding: 0px;
}

input[type=file]::-webkit-file-upload-button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    opacity: 90%;
    border-radius: 10px;
    padding: 6px 12px;
    cursor: pointer;
}

input[type=file]::-webkit-file-upload-button:hover {
    opacity: 100%;
}

img {
    margin-right: 15px;
}

h4 {
    display: inline-block;
}

h1,
h4 {
    margin-bottom: 0;
}

.carousel-bottom {
    border: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px;
}

.rating-section {
    margin: 0;
}

.colors {
    margin-right: .3rem;
    display: flex;
    height: 100%;
}

.color-picker {
    border: 0;
    height: 80%;
    width: 26px;
    border-radius: 0 0 10px 10px;
}

.color-picker-selected,
.color-picker:hover {
    width: 30px;
    margin: 0 2px;
}

.profile-data-bottom {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 10px auto;
    border-radius: 50px;
    border: 4px solid var(--main-color);
    background-color: var(--main-color);
}

.send-msg-btn {
    text-decoration: none;
}

.btn-default {
    display: flex;
    align-items: center;
    margin-left: 0px;
    border-radius: 0px 50px 50px 0px;
    color: white;
    text-decoration: none;
}

.btn-left {
    border-radius: 50px 0px 0px 50px;
    margin-right: 3px;
}

.btn-default:hover {
    color: white;
    text-decoration: none;
}

.delete-btn {
    display: block;
    width: fit-content;
    margin: auto;
    text-decoration: none;
    border-radius: 50px;
    padding: 10px;
}

.delete-action input[type=submit],
.delete-action input[type=submit]:hover {
    color: white;
    background-color: transparent;
    border-radius: 0px;
    padding: 0px;
}

.delete-action form {
    margin-left: 10px;
    border-radius: 50px 0px 0px 50px;
}

@media (max-width: 1100px) and (min-width: 600px) {
    .header-wrapper {
        flex-direction: column;
        margin-left: 5px;
    }

    .profile-data-bottom {
        flex-direction: column;
        background-color: transparent;
        border: 0;
    }

    .profile-data-bottom > * {
        border-radius: 20px;
        margin: 2px;
    }

    .profile-data-bottom >*:hover {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .profile-content {
        height: 80svh;
        flex-direction: column;
    }

    .profile-data {
        overflow: auto;
        width: 100%;
        margin-top: 10px;
    }

    .carousel-area {
        height: 100%;
    }

    .header {
        flex-direction: row;
    }

    .delete-btn {
        margin-bottom: 10px;
    }
}