.search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-results {
    height: var(--content-height);
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40vw;
    border-right: 1px solid;
    border-left: 1px solid;
}

.results-wrapper {
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
}

.search-results-empty {
    width: inherit;
    margin-top: 15px;
    text-align: center;
}

.search-results-item {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
}

.search-results-item a {
    display: flex;
    align-items: center;
}

.follow-btn form {
    display: flex;
    height: inherit;
    justify-content: right;
    align-items: center;
}

.pagination {
    text-align: center;
    border-top: 2px solid;
    background-color: var(--bg-color);
    padding-bottom: 8px;
}

.pagination a {
    font-size: 14pt;
}

a.selected {
    font-size: 17pt;
    font-weight: bolder;
    color: var(--main-color);
    border-bottom: 2px solid var(--secondary-color);
}

img {
    margin: 0px 10px 0px 0px;
}

a {
    text-decoration: none;
    color: #000000;
}

input[type=submit] {
    background-color: white;
    border-radius: 10px;
    border: none;
    padding: 5px 12px;
}

@media (max-width: 991px) {
    .search-results {
        width: 60svw;
    }
}

@media (max-width: 600px) {
    .search-results {
        width: 100%;
    }

    .search-results-item {
        height: 10svh;
        padding: 0px;
    }
}